<h2 class="country-name">{{name}}</h2>
<div class="container">
    <div class="info-container">
        <ul class="about-country">
            <li class="about">Capital:</li>
            <li class="about">Population:</li>
            <li class="about">Language:</li>
            <ul class="languages">
                {{#each languages}}
                <li>{{name}}</li>
                {{/each}}
            </ul>
        </ul>
    </div>
    <div class="country-flag">
        <img src="{{flag}}" alt="{{name}}">
    </div>
</div>
